@@include('inc/header.html', {
"title": "Home"
})

<div class="main">
	<img src="img/img-large.png"  alt=""><br><br>
	<img src="img/img-medium.jpg"  alt=""><br><br>
	<img src="img/img-small.jpg"  alt=""><br><br>
	<img src="img/owl.svg" alt=""><br><br>

	<p class="css3">CSS 3 example</p>
</div>

@@include('inc/footer.html')